<div id="mainContainer">
    <div class="element">
        <img id="bus" src="https://i.pinimg.com/originals/3b/a1/cb/3ba1cbc7b2fd44ef59b0da8775f7da44.jpg" alt=""
            srcset="">
        <div id="button">
            <button (click)="toggleAddBusComponent()">
                <mat-icon [inline]="true" style="font-size:17px ;">person_add</mat-icon> <span>Add</span> 
            </button>
            <button (click)="toggleUpdateBusComponent()">
                <mat-icon [inline]="true" style="font-size:17px ;">mode_edit</mat-icon> <span>Update</span> 
            </button>
        </div>
    </div>
    <div class="element" id="userContainer">
        <img id="user"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBjxOceYV-fj5jmBU759YZHGj94hwqykf2pg&usqp=CAU"
            alt="" srcset="">
        <div id="button">
            <button (click)="toggleAddUserComponent()">
                <mat-icon [inline]="true" style="font-size:17px ;">person_add</mat-icon> <span>Add</span> 
            </button>
            <button (click)="toggleUpdateUserComponent()">
                <mat-icon [inline]="true"style="font-size:17px ;">mode_edit</mat-icon> <span>Update</span> 
            </button>
        </div>
    </div>
</div>

<app-add-bus style="display:none ;" id="addBus"></app-add-bus>
<app-add-user style="display:none ;" id="addUser"></app-add-user>
<app-update-user style="display:grid ;" id="updateUser"></app-update-user>
<app-update-bus style="display:none ;" id="updateBus"></app-update-bus>