#mainContainer {
    margin-top: 7%;
    display: grid;
    grid-template-columns: 30% 30%;
    grid-template-rows: 100%;
    justify-content: center;
    gap: 5%;
}

.element {
    transition: 0.5s;
    display: grid;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px lightcoral;
}

.element:hover{
    box-shadow: 5px 5px 30px lightcoral;
    cursor: pointer;
}

#userContainer {
    /* justify-content: space-between; */
    align-items: flex-end;
}

#bus {
    width: 250px;
    height: 250px;
    padding: 20px;
}

#user {
    width: 220px;
    height: 230px;
    padding: 20px;
    /* align-self: flex-end; */
}

#button {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}

button {
    margin: 25px;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    background-color: black;
    border-radius: 10px;
    font-size: 13px;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    transition: 0.5s;
    opacity: 0.7;
}


button:hover {
    cursor: pointer;
    letter-spacing: 1px;
    opacity: 1;
}

@media screen and (max-width:1038px) {
    #mainContainer{
        grid-template-columns: 35% 35%;
    }
}

@media screen and (max-width:860px) {
    #mainContainer{
        grid-template-columns: 40% 40%;
    }
}

@media screen and (max-width:750px) {
    #mainContainer{
        grid-template-columns: 42% 42%;
    }
}

@media screen and (max-width:700px) {
    #mainContainer{
        grid-template-columns: 60%;
        height: 65%;
    }
}

@media screen and (max-width:625px) {
    #mainContainer{
        grid-template-columns: 65%;
        /* height: 65%; */
    }
}

@media screen and (max-width:575px) {
    #mainContainer{
        grid-template-columns: 70%;
        /* height: 65%; */
    }
}