<div id="mainContainer">
    <div class="element">
        <img id="bus" src="https://i.pinimg.com/originals/3b/a1/cb/3ba1cbc7b2fd44ef59b0da8775f7da44.jpg" alt="" srcset="">
        <div id="button">
            <button> <mat-icon [inline]="true" style="height: fit-content;width: auto;">person_add</mat-icon> Add</button>
            <button><mat-icon [inline]="true" style="height: fit-content;width: auto;">mode_edit</mat-icon> Update</button>
        </div>
    </div>
    <div class="element" id="userContainer">
        <img id="user" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBjxOceYV-fj5jmBU759YZHGj94hwqykf2pg&usqp=CAU" alt="" srcset="">
        <div id="button">
            <button> <mat-icon [inline]="true" style="height: fit-content;width: auto;">person_add</mat-icon> Add</button>
            <button><mat-icon [inline]="true" style="height: fit-content;width: auto;">mode_edit</mat-icon> Update</button>
        </div>
    </div>
</div>
