#updateFormContainer {
    margin-left: 15%;
    margin-top: 5%;
    width: 70%;
    display: grid;
    box-shadow: 3px 3px 8px 5px lightblue;
    position: relative;
    display: none;
}

.showForm{
   background-color: red;
}

h2 {
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    display: flex;
    justify-content: center;
}

form {
    display: grid;
    grid-template-columns: 50% 50%;
}

input {
    margin: 15px;
    margin-bottom: 0;
    padding: 10px;
    width: 85%;
    outline: none;
}

#button {
    transition: all 0.5s;
    background-color: black;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 20px;
    /* padding: 5px; */
    letter-spacing: 2px;
    margin: 3%;
    width: 91%;
    margin-bottom: 20px;
}

#button:hover {
    letter-spacing: 7px;
}

.error {
    text-align: center;
    letter-spacing: 1.5px;
    margin-left: 15px;
    background-color: red;
    color: white;
    padding: 1px;
    transition: all 1s;
    width: 90%;
    /* width: 32.5%; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.inputContainer{
    margin-bottom: 10px;
}

.foot{
    margin-bottom: 20px;
}


.disabled{
    background-color: grey;
    border: none;
    opacity: 0.5;
    pointer-events: none;
}


.message{
    top: 10px;
    right: 10px;
   color: white;
   padding: 10px;
   display: block;
   position: absolute;
   letter-spacing: 1.5px;
}

.deleteMessage{
    top: 6px;
    right: 6px;
   color: white;
   padding: 10px;
   display: block;
   position: absolute;
   letter-spacing: 1.5px;
}

.success{
    background-color: green;
}

.failed{
    background-color: #FF0000;
}

.initial{
    display: none;
}

.messageContainer{
    display: flex;
    align-items: center;
}

.foot{
    margin-bottom: 20px;
}


.formClose{
position: absolute;
right: 10px;
top: 10px;
cursor: pointer;
}

#updateTableContainer {
    position: relative;
    margin-left: 5%;
    margin-top: 7%;
    border: 3px double black;
    border-bottom: none;
    display: grid;
    width: 90%;
    justify-content: center;
    grid-template-columns: 100%;
}


table {
    /* border: 1px solid black; */
    text-align: center;
    font-size: 1.2em;
    border-spacing: 0;
}

th {
    border-top: 3px double black;
    border-bottom: 3px double black;
    border-right: 3px double black;
    letter-spacing: 2px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 600;
}

td {
    border-bottom: 3px double #000000;
    border-right: 3px double black;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 15px;
}

button {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.5px;
    cursor: pointer;
    opacity: 0.8;
    border: none;
}

button:hover {
    opacity: 1;
}


.buttonContainer {
    /* display: flex; */
    justify-content: center;
    border-right: none;
}

h1 {
    margin-bottom: 0;
    padding: 10px;
    letter-spacing:2px;
    font-weight: 500;
    text-align: center;
    text-transform:uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close {
    position: absolute;
    right: 10px;
    top: 13px;
    cursor: pointer;
}

.reset {
    position: absolute;
    right: 50px;
    top: 13px;
    cursor: pointer;
}



form {
    display: grid;
    grid-template-columns: 50% 50%;
}

input {
    margin: 15px;
    margin-bottom: 0;
    padding: 10px;
    width: 85%;
    outline: none;
}

#button {
    transition: all 0.5s;
    background-color: black;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 20px;
    /* padding: 5px; */
    letter-spacing: 2px;
    margin: 3%;
    width: 91%;
    margin-bottom: 20px;
}

.updateButton{
    background-color: green;
}

.deleteButton{
    background-color: red;
}

#button:hover {
    letter-spacing: 7px;
}

#password{
    width: fit-content;
    height: fit-content;
    text-align: center;
    background-color: white;
    border: none;
}

@media screen and (max-width:1066px) {

    #updateFormContainer{
        width: 100%;
    }
    td{
        padding: 7px;
    }
  }
  
  @media screen and (max-width:1040px) {
    #updateTableContainer{
        width: 105vw;
    }
     table{
         font-size: 1.1em;
     }
     td{
         padding:5px ;
     }
  }
  
  @media screen and (max-width:915px) {
    #updateTableContainer{
        width: 110vw;
    }
    
  }
  
  @media screen and (max-width:850px) {
      #updateTableContainer{
          width: 120vw;
      }
  }
  
  @media screen and (max-width:700px) {
      #updateTableContainer{
          margin-top: 53%;
          width: 120vw;
      }
     
  }
  
  @media screen and (max-width:674px) {
      #updateTableContainer{
          width: 130vw;
      }
  }
  
  @media screen and (max-width:635px) {
      #updateTableContainer{
          width: 135vw;
      }
  }
  
  @media screen and (max-width:610px) {
      #updateTableContainer{
          width: 145vw;
      }
  }
  
  @media screen and (max-width:560px) {
      #updateTableContainer{
        margin-top: 55%;
          /* width: 145vw; */
      }
  }

  @media screen and (max-width:530px) {
    #updateTableContainer{
      margin-top: 58%;
        /* width: 145vw; */
    }
}