#tableContainer{
    margin-top: 4%;
    display: grid;
    justify-content: center;
    grid-template-columns: 50%;
}

table{
    border: 1px solid red;
    width: 100%;
}

tr,th{
    text-align: center;
}


.disabled{
    display: none;
}

.initial{
    display: initial;
}


form{
    display: grid;
    position: absolute;
    top:101%;
    left:35%;
    background-color: white;
}

input{
    padding: 8px;
    margin: 15px;
}