

#seatLayout{
    margin: 14% auto;
    display:grid;
  width: 40%;
  height: auto;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
    grid-template-rows: 50% 50%;
column-gap: 5px;
    border: 1px solid black;
}

.seat{
    width: 100%;
    border: 1px solid black;
    text-align: center;
    margin: 10px;
}

.seat:hover{
    background-color: green;
    cursor: pointer;
}
