<ul id="mainNav" class="navbar">
    <li class="nav-collapse"><mat-icon (click)="classToggle()">menu</mat-icon></li> 
    <li id="nav-logo">
        <!-- <mat-icon [inline]="true" style="padding-right: 5px;font-size: 35px;">gps_fixed</mat-icon>  -->
        Mr Bus
        <!-- <img src="../../../assets/logo.png" width="70" height="70" alt="" srcset=""> -->
    </li>

    <li class="nav-items nav-items-hide" routerLink="book/book-tickets" *ngIf="stateService.getSignedIn()">
        <mat-icon class="nav-icons">departure_board</mat-icon>
        Book-Tickets
    </li>

    <li class="nav-items nav-items-hide"  routerLink="book/bookings" *ngIf="stateService.getSignedIn()">
        <mat-icon class="nav-icons">free_cancellation</mat-icon>
        Bookings
    </li>

    <li class="nav-items nav-items-hide" routerLink="user/login" *ngIf="stateService.getSignedIn()==false">
        <mat-icon class="nav-icons">how_to_reg</mat-icon>  Login
    </li>
    
    <li class="nav-items nav-items-hide" routerLink="user/register" *ngIf="stateService.getSignedIn()==false">
        <mat-icon class="nav-icons">person_add</mat-icon>
        Register
    </li>
    <li class="nav-items nav-items-hide"  routerLink="admin/admin" *ngIf="stateService.getIsAdmin()">
        <mat-icon class="nav-icons">dashboard</mat-icon>
        Dashboard</li>
    
    <li class="nav-items nav-items-hide" *ngIf="stateService.isSignedIn" (click)="stateService.logout()">
        <mat-icon class="nav-icons">logout</mat-icon>
        Log-out</li>
</ul>

<router-outlet></router-outlet>

