<ul class="navbar">
    <li class="nav-collapse"><mat-icon (click)="classToggle()">menu</mat-icon></li> 
    <li id="nav-logo">Logo</li>

    <li class="nav-items nav-items-hide" routerLink="book/book-tickets">
        <mat-icon class="nav-icons">departure_board</mat-icon>
        Book-Tickets
    </li>

    <li class="nav-items nav-items-hide"  routerLink="book/seat" *ngIf="isLoggedIn">
        <mat-icon class="nav-icons">free_cancellation</mat-icon>
        Bookings
    </li>

    <li class="nav-items nav-items-hide" routerLink="user/login">
        <mat-icon class="nav-icons">how_to_reg</mat-icon>  Login
    </li>
    
    <li class="nav-items nav-items-hide" routerLink="user/register">
        <mat-icon class="nav-icons">person_add</mat-icon>
        Register
    </li>
    <li class="nav-items nav-items-hide" *ngIf="isLoggedIn">
        <mat-icon class="nav-icons">logout</mat-icon>
        Log-out</li>
    
    <li class="nav-items nav-items-hide" *ngIf="isLoggedIn">
        <mat-icon class="nav-icons">logout</mat-icon>
        Log-out</li>
</ul>
<!-- <div style="background-image:url('https://c1.wallpaperflare.com/preview/924/883/662/train-interior-train-aisle-train-wagon-seat.jpg') ; background-size: cover;height:91vh;position: absolute;width: 100vw;position: absolute;z-index:-1 ;">

</div> -->
<router-outlet></router-outlet>