#mainContainer{
    display: grid;
    height: 70vh;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    row-gap: 5%;
}

#inputContainer{
    background-image: url("../../../../assets/backg.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

input{
    width: 20%;
    padding: 10px;
    outline: none;
    /* border-radius: 10px; */
}

#date{
    padding: 9px;
}

button{
    font-size: 10px;
    /* margin-left: 10px; */
    background-color: black;
    color: white;
    font-weight: 550;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 25px;
    border: none;
    letter-spacing: 2px;
    transition: 0.7s;
    margin-bottom: 5px;
}

button:hover{
    cursor: pointer;
}

#one{
    grid-row: 1/span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url("https://mpng.subpng.com/20190222/uee/kisspng-computer-icons-clip-art-scalable-vector-graphics-p-bus-stop-pin-svg-png-icon-free-download-27942-5c6fcfc09e7df0.8136314815508315526492.jpg");
background-size: cover; */
}

img{
    width: 180px;
    height: 180px;
}

#busContainer{
    margin-top: 8%;
    /* height: 100vh; */
    justify-content: center;
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: auto;
    gap: 5%;
}

.bus{
    border:1px solid lightblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 70% 30%;
    transition: all 0.5s;
}

.bus:hover{
    /* border: 1px solid black; */
    cursor: pointer;
    box-shadow: 5px 5px 15px lightseagreen;
}

/* .gridElement{
    border: 1px solid black;
} */

#busDetailsProperty{
    grid-column: 1/span 2;
    display: grid;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

#busDetails{
    text-align: center;
    text-transform: uppercase;
    grid-column: 1/span 2;
    grid-row: 1/span 3;
    display: grid;
    justify-content: center;
    align-items: center;
}

#foot{
    grid-column: 4/span 6;
    display: grid;
    grid-template-columns: 75%;
    justify-content:flex-end;
    letter-spacing: 1.5px;
    margin-bottom: 25px;
}
#busButton{
   margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
#busPropertiesContainer{
    margin-top: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: 80%;
}

.busProperties{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.busProperty{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.busProperty:hover{
    cursor: pointer;
}
.icons{
    margin: 5px;
}

.busInfo{
    /* text-align: center; */
    letter-spacing: 1.5px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

h1{
    font-weight: 500;
}

/* #arrival{
    letter-spacing: 1.5px;
    display: grid;
    justify-content: center;
    /* text-align: center; */
