#mainContainer{
    display: grid;
    height: 90vh;
    grid-template-columns: 100%;
    grid-template-rows: 70% 50%;
}

/* #searchContainer{
    text-transform: uppercase;
text-align: center;
} */

#inputContainer{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfX-Xc56MzLlSXKOWP-XI8WZ4ZVqYs6-YAaw&usqp=CAU");
  /* background-image: url("https://c4.wallpaperflare.com/wallpaper/512/901/163/night-bus-wallpaper-preview.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    /* border: none; */
    /* border: 1px solid black; */
    margin: 2px;
    width: 20%;
    padding: 10px;
    outline: none;
}

#date{
    padding: 9px;
}

button{
    font-size: 10px;
    margin-left: 10px;
    background-color: black;
    color: white;
    font-weight: 550;
    text-transform: uppercase;
    padding: 12px;
    border-radius: 20px;
    border: none;
    letter-spacing: 1px;
    transition: 0.7s;
}

button:hover{
    cursor: pointer;
    letter-spacing: 1px;
}

/* #button{
    padding: 13px;
    font-size: 10px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.2px;
    border-radius: 20px;
    border: none;
    /* padding: 10px;
    margin-bottom: 10px; */
    /* transition: 0.5s; */
    /* margin-top: 1%; */


/* #button:hover{ */
    /* color: white;
    background-color: black; */
    /* cursor: pointer; */
    /* letter-spacing: 1px; */
 