<div id="mainContainer">
    <form id="inputContainer" [formGroup]="city">

        <input type="text" formControlName="boardingLocation" list="departureCities" placeholder="Boarding Location*">
        <input type="text" formControlName="destinationLocation" list="boardingCities"
            placeholder="Destination Location*">
        <datalist id="departureCities">
            <span *ngFor="let city of cities">
                <option value="{{city}}"></option>
            </span>
        </datalist>
        <datalist id="boardingCities">
            <span *ngFor="let city of cities">
                <option value="{{city}}"></option>
            </span>
        </datalist>
        <input id="date" type="date" formControlName="departureDate">
        <button id="button" (click)="sendData()">Search</button>
    </form>
    <div *ngIf="busDetails!=undefined" id="busPropertiesContainer">
        <div class="busProperties">
            <div class="gridElement" id="busDetailsProperty">
                <div>
                    <span style="text-transform: bold;font-weight: 600;"> {{total}} Buses </span>
                    <span> Available</span>
                </div>

            </div>
            <div class="gridElement busProperty">
                <mat-icon class="icons">departure_board</mat-icon>Departure
            </div>
            <div class="gridElement busProperty">
                <mat-icon class="icons">schedule</mat-icon>Duration
            </div>
            <div class="gridElement busProperty">
                <mat-icon class="icons">calendar_month</mat-icon>Arrival
            </div>
            <div class="gridElement busProperty">
                <mat-icon class="icons">star</mat-icon>Ratings
            </div>
            <div class="gridElement busProperty" id="fare">
                <mat-icon class="icons">price_change</mat-icon>Fare
            </div>
        </div>
    </div>
</div>
<div *ngIf="busDetails!=undefined">
    <div id="busContainer">
        <div class="bus" *ngFor="let bus of busDetails" id="{{bus._id}}">
            <div class="gridElement" id="busDetails">
                <div>
                    <h3 style="font-weight:600;letter-spacing: 1.5px; text-transform: uppercase;">{{bus.name}}</h3>
                    <h5>{{bus.busType}}</h5>
                </div>

                <div class="busIcons">
                    <mat-icon>speed</mat-icon>
                    <mat-icon>wifi</mat-icon>
                    <mat-icon>light</mat-icon>
                    <mat-icon>confirmation_number</mat-icon>
                    <mat-icon>verified</mat-icon>
                </div>
            </div>
            <div class="gridElement busInfo" id="departure">
                <h1 style="text-align:center;">{{bus.depatureTime}}</h1>
                <p>{{bus.pickupLocation}}</p>
            </div>
            <div class="gridElement busInfo" id="duration">
                <div>
                    <mat-icon style="font-size:50px ;">arrow_right_alt</mat-icon>
                    <h3 style="text-transform:lowercase;">{{bus.totalTime}}</h3>
                </div>

            </div>
            <div class="gridElement busInfo" id="arrival">
                <h1 style="text-align:center;">{{bus.arrivalTime}}</h1>
                <p>{{bus.dropLocation}}</p>
            </div>
            <div class="gridElement busInfo" id="rating">
                <h2>{{bus.rating}}</h2>
            </div>
            <div class="gridElement busInfo" id="fare">
                <span>Inr <h2>{{bus.price}}/-</h2> </span>
            </div>
            <div class="gridElement" id="foot">
                <div id="busButton">
                    <span><span style="text-transform: uppercase;font-weight: 800;margin-right: 5px;">Available Seats:</span>{{bus.availableSeats}}</span>
                    <button id="book {{bus._id}}" (click)="getBusId($event)">Book Seats</button>
                </div>
            </div>
        </div>

    </div>
</div>

<div style="height:20%;display: grid;justify-content: end;align-items:flex-end;visibility: hidden;">
    Hi
</div>