<div id="container">

    <form id="form">

        <h2 style="text-align: center;"><span>L</span>OGIN</h2>

        <div class="form-element">
          <i class="fa fa-user icon form-icons"></i>
              <input type="email" placeholder="Email"><br>
        </div>
      <div class="form-element">
        <i class="fa fa-lock form-icons"></i>
          <input type="password" placeholder="Password">
      </div>

      <div class="form-element">
          <button id="login">Log in</button>
      </div>   

      <div class="form-element" id="register">
          <p>New user? <a href="#">Register here</a></p>
      </div>  

    </form>
</div>
<!-- <p>Navbar</p> -->
 <!-- <mat-icon>person</mat-icon> -->
