<div id="mainContainer">
    <div class="booking">
        <div class="element" id="qrCode">
            <img src="https://www.investopedia.com/thmb/ZG1jKEKttKbiHi0EkM8yJCJp6TU=/1148x1148/filters:no_upscale():max_bytes(150000):strip_icc()/qr-code-bc94057f452f4806af70fd34540f72ad.png"
                alt="">
        </div>
        <div class="element" id="header">
            <h2 style="display: flex;gap: 10px;">Coimbatore <mat-icon [inline]="true" style="font-size: 35px;">
                    arrow_right_alt</mat-icon> Chennai</h2>
            <h3>{{date}}</h3>
            <h4 style="display:flex;align-items:center"><span style="font-size:22px ;"><mat-icon [inline]="true">book_online</mat-icon></span> E-Receipt</h4>
            
        </div>
        <div class="element foot" id="busDetails">
            <div>
                <h2>Volvo Riders</h2>
                <h5>Sleeper Non A/C</h5>
            </div>
          
        </div>
        <div class="element foot" id="boardingDetails">
            <div>
                <h2>10:30 PM</h2>
                <h5>Gandhipuram</h5>
            </div>
          
        </div>
        <div class="element foot" id="departureDetails">
            <div>
                <h2>5:00 AM</h2>
                <h5>Central</h5>
            </div>
           
        </div>
        <div class="element foot" id="seatDetails">
            <div>
                <h2>Seats</h2>
                <h5>A1 A2 A3</h5>
            </div> 

        </div>
        <div class="element foot" id="passengerDetails">
            <div>
                <h2>Passengers</h2>
                <h5>3</h5>
            </div>
          
        </div>
        <div class="element foot" id="paymentMode">
            <div>
                <h2>Payment Mode</h2>
                <h5>Cash</h5>
            </div>
        </div>
        <div class="element foot" id="busId">
            <h5>Id:6277fdc47e95d0bcd3df443f</h5>
        </div>
        <div class="element foot" id="email">
           <h5>vbngowtham@gmail.com</h5> 
        </div>
        <div class="element foot" id="contact">
          <h5>7397093792</h5> 
        </div>
        <div class="element foot" id="price">
             <p style="text-transform:uppercase;margin:10px;">Inr <span style="font-size: 1.5em;font-weight:500">600</span>/-</p>
        </div>
      
    </div>




</div>