#formContainer {
    margin-left: 15%;
    margin-top: 5%;
    width: 70%;
    display: grid;
    box-shadow: 3px 3px 8px 5px lightblue;
    position: relative;
}

h2 {
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    display: flex;
    justify-content: center;
}

form {
    display: grid;
    grid-template-columns: 50% 50%;
}

input {
    margin: 15px;
    margin-bottom: 0;
    padding: 10px;
    width: 85%;
    outline: none;
}

#button {
    transition: all 0.5s;
    background-color: black;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 20px;
    /* padding: 5px; */
    letter-spacing: 2px;
    margin: 3%;
    width: 91%;
    margin-bottom: 20px;
}

#button:hover {
    letter-spacing: 7px;
}

.error {
    text-align: center;
    letter-spacing: 1.5px;
    margin-left: 15px;
    background-color: red;
    color: white;
    padding: 1px;
    transition: all 1s;
    width: 90%;
    /* width: 32.5%; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.inputContainer{
    margin-bottom: 10px;
}

.foot{
    margin-bottom: 20px;
}


.disabled{
    background-color: grey;
    border: none;
    opacity: 0.5;
    pointer-events: none;
}


.message{
    top: 10px;
    right: 10px;
   color: white;
   padding: 10px;
   display: block;
   position: absolute;
   letter-spacing: 1.5px;
}

.success{
    background-color: green;
}

.failed{
    background-color: #FF0000;
}

.initial{
    display: none;
}

.messageContainer{
    display: flex;
    align-items: center;
}

.foot{
    margin-bottom: 20px;
}


.close{
position: absolute;
right: 10px;
top: 10px;
cursor: pointer;
}